{{- $email := env "EMAIL" | default "enpitsulin@gmail.com" -}}
{{- $name := env "NAME" | default "enpitsulin" -}}
{{- $editor := env "EDITOR" | default "code" -}}

[git]
    autoCommit = false
    autoPush = false

[data]
    email = {{ $email | quote }}
    name = {{ $name | quote }}
    editor = {{ $editor | quote }}
