[user]
	signingkey = 0672CB8176D09B46A823B81C85C836DC516B372C
	name = {{ .name }}
	email = {{ .email }}

[commit]
	gpgsign = true

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

# Use the GnuPG in PATH (Homebrew on macOS, distro package on Linux).
[gpg]
	program = gpg
[init]
	defaultBranch = master
[pull]
	rebase = true
[core]
	excludesFile = {{ .chezmoi.homeDir }}/.gitignore_global
